# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
my_emsc_crawler.py

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data files
# *.csv
*.sqlite
*.db
*.sql
*.log
*.json
*.pkl
*.h5

# Selenium
geckodriver.log
chromedriver.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Distribution / packaging
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Matplotlib
*.png
*.jpg
*.jpeg
*.pdf
*.svg